@font-face {
    font-family: 'Nunito';
    src: url('../Assets/Tipografias/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'NunitoBold';
    src: url('../Assets/Tipografias/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: bold; 
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito' , sans-serif;
}
html{
    overflow: auto;
}

header{
    width: 100%;
    height: 12vh;
    background: radial-gradient(circle,#414141ff, #020202ff);
    display: flex;
    justify-content: center;
}
header button{
    height: 100%;
    background-color: transparent;
    border: none;
}
header button:hover{
    cursor: pointer;
}
header button img{
    max-height: 100%;
}




@media screen and (min-width:600px){
    section{
        width: 100%;
        height: 150vh;
        background-color:#404040;
        display: grid;
    }
    .titulo{
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    img{
        max-height: 80%;
    }
    h1{
        margin: 10px;
    }
    .login{
        width: 600px;
        height: 130vh;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-self: center;
        justify-content: center;
        background-color: white;
        
    }
    input{
        width: 80%;
        height: 10vh;
        border-radius: 10px;
        border: none;
        background-color: #efefefff;
        text-align: center;
        font-size: 1.25rem;
        color: #434343;
    }
    input::placeholder{
        color: black;
    }
    #Siguiente2{
        width: 40%;
        height: 10vh;
        border-radius: 10px;
        border:none;
        background-color: #ffb400;
        text-align: center;
        font-size: 1.25rem;
        cursor: pointer;
    }
    hr{
        width: 80%;
        height: 1px;
        background-color: black;
    }

}

@media screen and (max-width:600px){
    section{
        width: 100%;
        height: 150vh;
        background-color: #404040;
        display: grid;
    }  
    .titulo{
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    img{
        max-height: 80%;
    }
    h1{
        margin: 20px 10px;
    }
    .login{
        width: 100%;
        height: 130vh;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-self: center;
        justify-content: center;
        
        background-color: white;
        
    }
    input{
        width: 80%;
        height: 10vh;
        border-radius: 10px;
        border: none;
        background-color: #efefefff;
        text-align: center;
        font-size: medium;
        color: #434343;
    }
    input::placeholder{
        color: black;
    }
    #Siguiente2{
        width: 40%;
        height: 10vh;
        border-radius: 10px;
        border:none;
        background-color: #ffb400;
        text-align: center;
        font-size: medium;
        cursor: pointer;
    }
    hr{
        width: 80%;
        height: 1px;
        background-color: black;
    }
}