@font-face {
    font-family: 'Nunito';
    src: url('../Assets/Tipografias/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'NunitoBold';
    src: url('../Assets/Tipografias/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: bold; 
}
@keyframes brillo {
    0% {
        box-shadow: 0 0 5px rgba(255, 180, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 10px rgba(255, 180, 0, 0.7), 0 0 20px rgba(255, 180, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 180, 0, 0.7);
    }
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito' , sans-serif;
}
html{
    overflow: hidden;
}
header {
    width: 100%;
    height: 12vh;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0%;
}
button{
    cursor: pointer;
    max-height: 100%;
    background-color: unset;
    border-style: none;
}
/* Estilos Barra Nav */
@media (min-width: 850px) {

    
header{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#barra{
    max-height: 100%;
    max-width: 30%;
    margin-left: 10px;
    
}
.paginas{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.paginas button{
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 1.25rem;
    border-radius: 30px;
}
.funciones{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}
.funciones button{
    height: 30px;
    width: 30px;
    border-style: none;
    background-color: transparent;
}
.bolsa{
    background-image: url('../assets/Imagenes/Recursos%20extras/bolsaW.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.bolsa:hover{
    cursor: pointer;
    background-color: white;
    background-image: url('../assets/Imagenes/Recursos%20extras/bolsaB.png');
}
.perfil{
    background-image: url('../assets/Imagenes/Recursos%20extras/avatarW.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.perfil:hover{
    cursor: pointer;
    background-color: white;
    background-image: url('../assets/Imagenes/Recursos%20extras/avatarN.png');
}
.paginas button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
#check{
    display: none;
}
ul{
  list-style: none;  
}
}
@media (max-width: 850px) {
   
    #check{
        display: none;
    }
    .menu-button {
        margin-right: auto;
        margin-left: auto;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .bar {
        width: 30px;
        height: 4px;
        background-color: white;
        transition: transform 0.3s, opacity 0.3s;
    }
    header{
        width: 100%;
        height: 10vh;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #barra{
        width: 150px;
        height: auto;
        
    }
    ul{
        position: fixed;
        top: 10vh;
        width: 100%;
        height: 0vh;
        background-color: #2b2b2bff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 30px 30px;
        list-style: none;
        transition: all .5s ease;
        overflow: hidden;
        z-index: 10;
    }
    .paginas button{
        background-color: transparent;
        width: 100%;
        height: 10vh;
        border-style: none;
        color: white;
        font-size: 1.25rem;
        transition: height 0.5s ease;
    }
    .paginas button:hover{
        height: 15vh;
        cursor: pointer;
        background-color: rgb(95, 95, 95);
    }
    ul li:last-child button:hover{
        border-radius: 0 0 30px 30px;
    }
    .funciones{
        width: 150px;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .funciones button{
        height: 30px;
        width: 30px;
        border-style: none;
        background-color: transparent;
    }
    .bolsa{
        background-image: url('../assets/Imagenes/Recursos%20extras/bolsaW.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .bolsa:hover{
        cursor: pointer;
    }
    .perfil{
        background-image: url('../assets/Imagenes/Recursos%20extras/avatarW.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .perfil:hover{
        cursor: pointer;
    }

    #check:checked ~ ul{
        height: 35vh;
    }




    input[type="checkbox"]:checked + .menu-button .bar:nth-child(1) {
        transform: translateY(12.5px) rotate(45deg);
    }
    
    input[type="checkbox"]:checked + .menu-button .bar:nth-child(2) {
        opacity: 0;
    }
    
    input[type="checkbox"]:checked + .menu-button .bar:nth-child(3) {
        transform: translateY(-12.5px) rotate(-45deg);
    }


}
@media (min-width: 1200px){
    .central{
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 95%;
        background-color: white;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
    .side1{
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 80%;
        align-self: center;
        background-color: white;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
    .side2{
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 80%;
        align-self: center;
        background-color: white;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
}
@media (max-width: 1200px){
    .central{
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 95%;
        background-color: white;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
    .side1{
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 95%;
        align-self: center;
        background-color: white;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
    .side2{
        display: none;
    }

}
@media (max-width: 900px){
    .central{
        display: none;
    }
    .side1{
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 95%;
        align-self: center;
        background-color: white;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
    .side2{
        display: none;
    }
}
section{
    width: 100%;
    height: 90vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    align-self: start;
    align-items: center;
    display: flex;
    height: 65px;
    margin:  0 0 20px 20px ;
}
.agregar{
    width: 30px;
    height: 30px;
    background-color: white;
    background-image: url("../assets/Imagenes/Recursos%20extras/boton-agregar.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none;
    border-radius: 10px;
    position: relative;
    left: -15px;    
    transition: left 0.5s ease;
}
.agregar:hover{
    cursor: pointer;
    left: -5px;
}
.unirComedor{
    width: 250px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}
label{
    text-align: center;
    margin-left: 10px;
}
input{
    width: 100px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    background-color: #efefef;
    text-align: center;
    font-size: 1.5rem;
}

.comedores{
    width: 100%;
    height: 70vh;
    margin: 5% 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: space-around;
}
.comedoresDisponibles{
    width: 90%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
}


#Cerrar{
    width: 5%;
    height: 5%;
    background-image: url("../Assets/Imagenes/Recursos%20extras/XB.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-self: end;
    margin: 5% 15% 0 0 ;
}
.logoComedor{
    width: 40%;
    height: 40%;
    background-color: #eeeeeeff;
    border-radius: 100%;
    align-self: center;
    display: flex;
}
#logo{
    max-width: 70%;
    height: auto;
    margin: auto;
}
.nombreComedor{
    font-size: 170%;
    width: 100%;
    text-align: center;
}
.rateComedor{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.rate{
 font-size: 120%;
 font-family: 'NunitoBold', sans-serif;
 align-self: center;
}
.estrella{
    height: 100%;
}
.tiempoComedor{
    width: 100%;
    height: 7%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.reloj{
    max-height: 100%;
}
.tiempo{
    margin-left: 5px;
    font-size: 120%;
    align-self: center;
}
#ingresarComedor{
    width: 30%;
    height: 7%;
    border-radius: 10px;
    background-color:#ffc029ff;
    align-self: center;
    font-size: 100%;
    font-family: 'NunitoBold', sans-serif;
}
#ingresarComedor:hover{
    animation: brillo 1s ease-in-out infinite;
    cursor: pointer;
}
#Regresar{
    background-color:#ffc029ff;
    background-image: url("../Assets/Imagenes/Recursos%20extras/atras.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    width: 20px;
    height: 20%;
    border-radius: 5px;
    align-self: center;
    margin: auto;
}
#Seguir{
    transform: rotate(180deg);
    background-color:#ffc029ff;
    background-image: url("../Assets/Imagenes/Recursos%20extras/atras.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    width: 20px;
    height: 20%;
    border-radius: 5px;
    align-self: center;
    margin: auto;
    
}